# 项目标识代码
VITE_APP_CODE="FinAI"

# 项目名
VITE_APP_NAME="FinAI"

# 项目描述
VITE_APP_TITLE="FinAI 你的 AI 记账搭子"
VITE_APP_DESCRIPTION="支持语音/拍照极速记账、AI 智能分类与自动对账、多币种实时换算、个性化预算规划、长期财务记忆，打造您身边的全能 AI 财务管家！"

# 前端端口
VITE_PORT=8078
# 允许访问的主机列表（多个主机用逗号分隔）
VITE_ALLOWED_HOSTS="8078.app.cloudstudio.work"

# 个人配置
VITE_GZH_NAME="公众号：猴哥的AI知识库"
VITE_GZH_URL="https://axcvs2xtkbpq.objectstorage.ap-singapore-1.oci.customer-oci.com/n/axcvs2xtkbpq/b/bucket-20240802-0845/o/v2-ffa263db3791634adecf4fcb101e38fa_1440w.png"
VITE_ME_NAME="FinAI, Inc. All rights reserved."
VITE_ICP="粤 ICP 备 20251212701"
VITE_AVATAR="https://avatars.githubusercontent.com/u/23102037?s=96&v=4"
VITE_FEISHU_DOC_URL="https://cv30behis8q.feishu.cn/wiki/KxeHw4fJ4inQTRkXFQNc93VSnvd"

VITE_OSS_BUCKET_URL="https://objectstorageapi.xx.com/ai-live"

# 后端API地址
VITE_BASE_URL="https://zrovqw--3002.app.cloudstudio.work/api/v1"