# JWT配置
JWT_SECRET_KEY=5488a63e1765035d386f05409663f55c83bfae3b3c61a932744b20ad14244dcf
# 进程数
UVICORN_WORKERS=1
# 前端地址
ADMIN_FE_URL=http://localhost:8077
USER_FE_URL=http://localhost:8078
# 后端端口
BACK_END_PORT=3002
# 数据库配置
DB_TYPE=sqlite # sqlite mysql postgres
PG_HOST=47.115.76.183
PG_PORT= 5432
PG_USER=admin
PG_PASSWORD=admin@2025
PG_DATABASE=ai_live
# Redis配置
REDIS_HOST=47.115.76.183
REDIS_PORT=6379
REDIS_PASSWORD=pw
REDIS_POOL_SIZE=10
# 对象存储oss配置
OSS_ACCESS_KEY_ID=jt1m1jia
OSS_ACCESS_KEY_SECRET=xdl9nhq4knrzzt6c
OSS_BUCKET_NAME=jt1m1jia-xiaozhi-pro
OSS_ENDPOINT=objectstorageapi.ap-southeast-1.clawcloudrun.com
OSS_BUCKET_URL=https://objectstorageapi.ap-southeast-1.clawcloudrun.com/jt1m1jia-xiaozhi-pro
OSS_SECURE=true
# 各类API
SF_KEY=sk-x
GLM_KEY=dx
# 超级管理员配置
SUPER_ADMIN_PHONE=13712345678
SUPER_ADMIN_PASSWORD=admin123
SUPER_ADMIN_NAME=admin